@using KursPortal.UI.ViewModels.AuthViewModel
@model LoginVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<br />
<br />
<br />
<main class="flex-grow flex items-center justify-center">
    <div class="bg-white p-10 rounded-2xl shadow-xl w-full max-w-md">
        <h2 class="text-3xl font-bold mb-6 text-center">Giriş</h2>
        <form asp-action="Login" asp-controller="Account" class="space-y-4">
            <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
            <div asp-validation-summary="All" class="text-red-500 mb-4"></div>
            <input type="email" asp-for="Email" placeholder="Email" class="w-full p-3 border rounded-lg">
            <input type="password" asp-for="Password" placeholder="Şifrə" class="w-full p-3 border rounded-lg">
            <button class="w-full bg-blue-600 text-white py-3 rounded-lg font-bold">Daxil ol</button>
            <div class="flex items-center justify-start text-sm">
                <a asp-action="ForgotPassword" asp-controller="Account" class="text-blue-600 hover:text-blue-500 hover:underline font-medium transition duration-150">
                    Şifrəmi unutdum?
                </a>
            </div>
        </form>
        <p class="mt-4 text-center">Hesabınız yoxdur? <a href="/Account/Register" class="text-blue-600 underline">Qeydiyyatdan keçin</a></p>
    </div>
</main>
